:root {
  --bg-900: #101011;
  --bg-800: #18191a;
  --bg-700: #2a2b2e;
  --text-100: #f1f1f1;
  --accent:  #5e5b34;
  --accent-hover: #27ae60;

  --fc-page-bg-color: var(--bg-700);
  --fc-border-color: #444;
  --fc-event-bg-color: var(--accent);
  --fc-event-text-color: #fff;
  --fc-today-bg-color: rgba(46, 204, 113, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg-900);
  color: var(--text-100);
}

/* HEADER */
header {
  position: relative;
  height: 100px;
  background: var(--bg-800);
}

.green-bar {
  background-color: var(--accent);
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 10px;
  left: 6px;
  height: 80px;
}

/* LAYOUT */
.container {
  display: flex;
  min-height: calc(100vh - 100px);
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background-color: #5e5b34;
  color: white;
  padding: 30px 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.sidebar ul li a.active {
  color: rgb(10, 10, 10);
  font-weight: bold;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 40px;
  background: var(--bg-800);
}

h1, h2 {
  margin-top: 0;
  color: var(--text-100);
}

.form {
  max-width: 400px;
  display: grid;
  gap: 30px;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form input,
.form select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #5e5b34;
  border-radius: 5px;
  background: var(--bg-700);
  color: var(--text-100);
}

button {
  padding: 10px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background: var(--accent-hover);
}

/* CALENDAR BELOW FORM */
